In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
big_bills = pd.read_csv('D:/Project_Restaurant_Chain/Full/big_bills.csv')
restaurant_portfolio = pd.read_csv('D:/Project_Restaurant_Chain/Full/restaurant_portfolio.csv')

In [3]:
big_bills_selected = big_bills[(big_bills.total_covers>=0) & (big_bills.total_covers<26)]

In [4]:
big_bills_selected.head()

,Unnamed: 0,branch_number,concept_number,revenue_centre_number,brand,sale_date,guest_check_number,check_datetimestart,check_datetimestop,total_covers,total_gross_sales,total_net_sales,total_service_charge,total_tip,total_discount,total_cost,total_stock_cost,total_tesco_rebate
0,0,3338,1,2,Prezzo,2016-06-19,25,2016-06-19 13:57:47,2016-06-19 15:59:55,0,18.92,15.766,13.67,0.0,-90.0,57.41,1.149,45.25
1,1,2001,11,1,Prezzo,2016-06-19,7,2016-06-19 12:39:55,2016-06-19 22:18:13,0,0.00,0.000,NaN,NaN,NaN,0.00,NaN,NaN
2,2,3204,1,1,Prezzo,2016-06-19,10,2016-06-19 12:44:17,2016-06-19 16:27:22,0,0.00,0.000,NaN,NaN,NaN,0.00,1.127,NaN
3,3,2001,11,1,Prezzo,2016-06-19,50,2016-06-19 15:33:50,2016-06-19 16:44:04,0,0.00,0.000,NaN,NaN,NaN,0.00,NaN,NaN
4,4,3204,1,1,Prezzo,2016-06-19,20,2016-06-19 13:08:28,2016-06-19 13:54:32,0,0.00,0.000,NaN,NaN,NaN,0.00,3.488,NaN

In [5]:
merged_df = pd.merge(big_bills_selected, restaurant_portfolio, on='branch_number')

## Feature Selection and Manipulation

Based on what we have, select some feature we deem as useful.

### Dropping features

In [6]:
features_to_drop_first_batch = ['Unnamed: 0_x', 'Unnamed: 0_y', 'brand_x', 'brand_y', 'concept_number_x', 'concept_number_y', \
                                'total_net_sales', 'exec_employee_id', 'ops_area_employee_id', 'region', 'status', 'total_service_charge', \
                                'total_tesco_rebate', 'company', 'description', 'area_chef_employee_id']

In [7]:
merged_df.drop(features_to_drop_first_batch, axis=1, inplace=True)

In [8]:
merged_df.columns

Index(['branch_number', 'revenue_centre_number', 'sale_date',
       'guest_check_number', 'check_datetimestart', 'check_datetimestop',
       'total_covers', 'total_gross_sales', 'total_tip', 'total_discount',
       'total_cost', 'total_stock_cost', 'post_code', 'town', 'county',
       'country', 'location', 'rating', 'total_seats', 'total_inside_seats',
       'ground_seats', '1st_floor_seats', 'conservatory_seats', 'bar_seats',
       'outside_seats', 'private_dining_covers', 'ops_dir_employee_id',
       'ops_manager_employee_id'],
      dtype='object')

In [9]:
merged_df.head()

,branch_number,revenue_centre_number,sale_date,guest_check_number,check_datetimestart,check_datetimestop,total_covers,total_gross_sales,total_tip,total_discount,...,total_seats,total_inside_seats,ground_seats,1st_floor_seats,conservatory_seats,bar_seats,outside_seats,private_dining_covers,ops_dir_employee_id,ops_manager_employee_id
0,3338,2,2016-06-19,25,2016-06-19 13:57:47,2016-06-19 15:59:55,0,18.92,0.0,-90.0,...,204.0,144.0,128.0,0.0,0.0,16.0,60.0,No,626.0,999059.0
1,3338,1,2016-06-19,2,2016-06-19 13:05:28,2016-06-19 13:06:00,0,-15.87,NaN,NaN,...,204.0,144.0,128.0,0.0,0.0,16.0,60.0,No,626.0,999059.0
2,3338,1,2016-06-19,11,2016-06-19 16:29:55,2016-06-19 16:30:07,0,0.00,NaN,NaN,...,204.0,144.0,128.0,0.0,0.0,16.0,60.0,No,626.0,999059.0
3,3338,1,2016-06-19,103,2016-06-19 20:19:09,2016-06-19 20:30:52,0,3.69,NaN,NaN,...,204.0,144.0,128.0,0.0,0.0,16.0,60.0,No,626.0,999059.0
4,3338,1,2016-06-19,10,2016-06-19 12:52:23,2016-06-19 12:52:36,0,4.99,NaN,NaN,...,204.0,144.0,128.0,0.0,0.0,16.0,60.0,No,626.0,999059.0

### Missing data imputation

There are two types of data, one is numerical, and the other is generic.
As for the limited knowledge of the numerical data, we have to make 'NaN' to 0 normally, but make special arrangements for some special cases.

In [10]:
merged_df.total_gross_sales.fillna(0, inplace = True)
merged_df.total_tip.fillna(0, inplace = True)
merged_df.total_discount.fillna(0, inplace = True)
merged_df.total_cost.fillna(0, inplace = True)
merged_df.total_stock_cost.fillna(0, inplace = True)
merged_df.total_seats.fillna(0, inplace = True)
merged_df.total_inside_seats.fillna(0, inplace = True)
merged_df.ground_seats.fillna(0, inplace = True)
merged_df['1st_floor_seats'].fillna(0, inplace = True)
merged_df.conservatory_seats.fillna(0, inplace = True)
merged_df.bar_seats.fillna(0, inplace = True)
merged_df.outside_seats.fillna(0, inplace = True)
merged_df.private_dining_covers.fillna(0, inplace = True)

After data imputation:

In [11]:
merged_df.conservatory_seats.value_counts()

0.0     5065214
5.0       21149
8.0       18262
31.0      16113
18.0      15794
4.0       15088
Name: conservatory_seats, dtype: int64

This is too lopsided, and this must be deleted.

### One Hot Encoding
As for the generic features, their contents of data must be on-hot encoded. In case there are so many newly added attributes, more attributes must be deleted. List some feature that must be deleted.

branch_number: 258

revenue_centre_number: 3 (but heavily concentrated on one type)

sale_date: 366

guest_check_number: 370

post_code: 258

town: 221

county: 38

location: 258

rating: 7

ops_dir_employee_id: 2 (very hard to imagine this is gonna be important

ops_manager_employee_id: 8 (very hard to imagine this is gonna be important)

In general, we have to only keep 'county' and 'rating' for now. But for 'private_dining_covers', the data must be cleaned further.

In [12]:
features_to_drop_second_batch = ['branch_number', 'revenue_centre_number', 'sale_date', 'guest_check_number', 'post_code', 'town',
                                'location', 'ops_dir_employee_id', 'ops_manager_employee_id', 'country', 'conservatory_seats']

In [13]:
merged_df.drop(features_to_drop_second_batch, axis=1, inplace=True)

In [14]:
merged_df.private_dining_covers.value_counts()

No         2845219
0          1034002
0           189601
40          175866
30          133667
60          114157
12           88629
14           83620
10           74419
NO           64508
20-40        41898
135          30943
25 - 50      30347
15 - 30      29291
15 - 50      29150
15           24753
8            21949
24 & 24      20402
24           19920
20           19650
50           18098
20 - 30      16572
25           15493
50-70        15484
28           13982
Name: private_dining_covers, dtype: int64

This is a mess, and values must be reassigned.

'0': 0, 'No': 0, 'NO': 0

We don't know what '24 & 24' is, but maybe we can keep it for now.

In [15]:
merged_df.private_dining_covers = merged_df.private_dining_covers.replace({'0': 0, 'No': 0, 'NO': 0})

In [16]:
merged_df.private_dining_covers.value_counts()

0          4133330
40          175866
30          133667
60          114157
12           88629
14           83620
10           74419
20-40        41898
135          30943
25 - 50      30347
15 - 30      29291
15 - 50      29150
15           24753
8            21949
24 & 24      20402
24           19920
20           19650
50           18098
20 - 30      16572
25           15493
50-70        15484
28           13982
Name: private_dining_covers, dtype: int64

It seems much better now.

In [20]:
columns_to_one_hot_encode = ['county', 'rating', 'private_dining_covers']

In [21]:
#one hot encoding
def one_hot_encode_columns(df, list_of_columns_to_one_hot_encode):
    for col in list_of_columns_to_one_hot_encode:
        df[col] = df[col].astype('object')
    
    one_hot=pd.get_dummies(df[list_of_columns_to_one_hot_encode],dummy_na=False)
    
    df=df.join(one_hot)
    return df

In [22]:
processed_merged_df = one_hot_encode_columns(merged_df,columns_to_one_hot_encode)

Drop 'county', 'rating' and 'private_dining_covers' now.

In [23]:
processed_merged_df.drop(['county', 'rating', 'private_dining_covers'], axis=1, inplace=True)

In [24]:
processed_merged_df.head()

,check_datetimestart,check_datetimestop,total_covers,total_gross_sales,total_tip,total_discount,total_cost,total_stock_cost,total_seats,total_inside_seats,...,private_dining_covers_24 & 24,private_dining_covers_25,private_dining_covers_25 - 50,private_dining_covers_28,private_dining_covers_30,private_dining_covers_40,private_dining_covers_50,private_dining_covers_50-70,private_dining_covers_60,private_dining_covers_8
0,2016-06-19 13:57:47,2016-06-19 15:59:55,0,18.92,0.0,-90.0,57.41,1.149,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
1,2016-06-19 13:05:28,2016-06-19 13:06:00,0,-15.87,0.0,0.0,15.87,-1.916,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
2,2016-06-19 16:29:55,2016-06-19 16:30:07,0,0.00,0.0,0.0,0.00,1.520,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
3,2016-06-19 20:19:09,2016-06-19 20:30:52,0,3.69,0.0,0.0,-3.69,0.214,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
4,2016-06-19 12:52:23,2016-06-19 12:52:36,0,4.99,0.0,0.0,-4.99,1.722,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
processed_merged_df.columns

Index(['check_datetimestart', 'check_datetimestop', 'total_covers',
       'total_gross_sales', 'total_tip', 'total_discount', 'total_cost',
       'total_stock_cost', 'total_seats', 'total_inside_seats', 'ground_seats',
       '1st_floor_seats', 'bar_seats', 'outside_seats', 'county_Berkshire',
       'county_Buckinghamshire', 'county_Cambridgeshire', 'county_Cheshire',
       'county_Cornwall', 'county_Devon', 'county_Dorset',
       'county_East Sussex', 'county_Essex', 'county_Gloucestershire',
       'county_Hampshire', 'county_Hertfordshire', 'county_Kent',
       'county_Leicestershire', 'county_Lincolnshire', 'county_London',
       'county_Manchester', 'county_Merseyside', 'county_Middlesex',
       'county_Norfolk', 'county_Northamptonshire', 'county_NottinghamShire',
       'county_Nottinghamshire', 'county_Oxfordshire', 'county_Scotland',
       'county_Shropshire', 'county_Somerset', 'county_Somerset ',
       'county_Suffolk', 'county_Surrey', 'county_Sussex', 'county_Wales',
       'county_Warwickshire', 'county_West Sussex', 'county_Wiltshire',
       'county_Worcestershire', 'county_Yorkshire', 'rating_A', 'rating_B',
       'rating_C', 'rating_D', 'rating_E', 'rating_F',
       'private_dining_covers_0', 'private_dining_covers_10',
       'private_dining_covers_12', 'private_dining_covers_135',
       'private_dining_covers_14', 'private_dining_covers_15',
       'private_dining_covers_15 - 30', 'private_dining_covers_15 - 50',
       'private_dining_covers_20', 'private_dining_covers_20 - 30',
       'private_dining_covers_20-40', 'private_dining_covers_24',
       'private_dining_covers_24 & 24', 'private_dining_covers_25',
       'private_dining_covers_25 - 50', 'private_dining_covers_28',
       'private_dining_covers_30', 'private_dining_covers_40',
       'private_dining_covers_50', 'private_dining_covers_50-70',
       'private_dining_covers_60', 'private_dining_covers_8'],
      dtype='object')

Now check there are two types of data available, which is the time for start checking and the time for stop checking. We need to know how much time is spent on the meal.

In [26]:
from datetime import datetime

In [27]:
check_time_difference = []
datetimeFormat = '%Y-%m-%d %H:%M:%S'
def get_check_time_difference(df, columns_names):    
    for i in range(len(df.index)):
        end_dt = datetime.strptime(processed_merged_df[columns_names[1]][i], datetimeFormat)
        start_dt = datetime.strptime(processed_merged_df[columns_names[0]][i], datetimeFormat)
        diff = end_dt - start_dt
        time_diff = round(diff.seconds/60)
        check_time_difference.append(int(time_diff))
    check_time_difference_in_minutes = pd.Series(check_time_difference, index = df.index)    
    return check_time_difference_in_minutes

In [28]:
check_time_difference_in_minutes = get_check_time_difference(processed_merged_df, ['check_datetimestart', 'check_datetimestop'])

In [29]:
check_time_difference_in_minutes

0          122
1            1
2            0
3           12
4            0
5           35
6            0
7            0
8           42
9            0
10         613
11          37
12          36
13           4
14          24
15          49
16          82
17           0
18           3
19         177
20           0
21           0
22          66
23          19
24           0
25           0
26          22
27          35
28          80
29          83
          ...
5151590     82
5151591    110
5151592    381
5151593     26
5151594     40
5151595     41
5151596     31
5151597     85
5151598     50
5151599     41
5151600     72
5151601     91
5151602     60
5151603     72
5151604     35
5151605     67
5151606     77
5151607     86
5151608     82
5151609     69
5151610     68
5151611     78
5151612     86
5151613     75
5151614     68
5151615     61
5151616     71
5151617    134
5151618    116
5151619     86
dtype: int64

In [30]:
check_time_difference_in_minutes_df = check_time_difference_in_minutes.to_frame(name = 'check_time_difference_in_seconds')

In [31]:
check_time_difference_in_minutes_df

         check_time_difference_in_seconds
0                                     122
1                                       1
2                                       0
3                                      12
4                                       0
5                                      35
6                                       0
7                                       0
8                                      42
9                                       0
10                                    613
11                                     37
12                                     36
13                                      4
14                                     24
15                                     49
16                                     82
17                                      0
18                                      3
19                                    177
20                                      0
21                                      0
22                                     66
23                                     19
24                                      0
25                                      0
26                                     22
27                                     35
28                                     80
29                                     83
...                                   ...
5151590                                82
5151591                               110
5151592                               381
5151593                                26
5151594                                40
5151595                                41
5151596                                31
5151597                                85
5151598                                50
5151599                                41
5151600                                72
5151601                                91
5151602                                60
5151603                                72
5151604                                35
5151605                                67
5151606                                77
5151607                                86
5151608                                82
5151609                                69
5151610                                68
5151611                                78
5151612                                86
5151613                                75
5151614                                68
5151615                                61
5151616                                71
5151617                               134
5151618                               116
5151619                                86

[5151620 rows x 1 columns]

In [32]:
processed_merged_new_df = processed_merged_df.join(check_time_difference_in_minutes_df)

In [33]:
processed_merged_new_df

,check_datetimestart,check_datetimestop,total_covers,total_gross_sales,total_tip,total_discount,total_cost,total_stock_cost,total_seats,total_inside_seats,...,private_dining_covers_25,private_dining_covers_25 - 50,private_dining_covers_28,private_dining_covers_30,private_dining_covers_40,private_dining_covers_50,private_dining_covers_50-70,private_dining_covers_60,private_dining_covers_8,check_time_difference_in_seconds
0,2016-06-19 13:57:47,2016-06-19 15:59:55,0,18.92,0.00,-90.00,57.41,1.149,204.0,144.0,...,0,0,0,0,0,0,0,0,0,122
1,2016-06-19 13:05:28,2016-06-19 13:06:00,0,-15.87,0.00,0.00,15.87,-1.916,204.0,144.0,...,0,0,0,0,0,0,0,0,0,1
2,2016-06-19 16:29:55,2016-06-19 16:30:07,0,0.00,0.00,0.00,0.00,1.520,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
3,2016-06-19 20:19:09,2016-06-19 20:30:52,0,3.69,0.00,0.00,-3.69,0.214,204.0,144.0,...,0,0,0,0,0,0,0,0,0,12
4,2016-06-19 12:52:23,2016-06-19 12:52:36,0,4.99,0.00,0.00,-4.99,1.722,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
5,2016-06-19 18:03:58,2016-06-19 18:39:00,0,5.18,0.00,0.00,-5.18,0.934,204.0,144.0,...,0,0,0,0,0,0,0,0,0,35
6,2016-06-19 18:37:44,2016-06-19 18:37:52,0,5.18,0.00,0.00,-5.18,0.741,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
7,2016-06-19 18:39:21,2016-06-19 18:39:29,0,4.29,0.00,0.00,-4.29,0.667,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
8,2016-06-19 12:49:02,2016-06-19 13:30:46,0,0.00,0.00,0.00,0.00,0.000,204.0,144.0,...,0,0,0,0,0,0,0,0,0,42
9,2016-06-19 12:09:40,2016-06-19 12:09:44,0,0.00,0.00,0.00,0.00,0.667,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
10,2016-06-19 12:53:50,2016-06-19 23:07:19,0,0.00,0.00,0.00,0.00,12.392,204.0,144.0,...,0,0,0,0,0,0,0,0,0,613
11,2016-06-19 14:12:10,2016-06-19 14:48:52,0,0.00,0.00,0.00,0.00,0.150,204.0,144.0,...,0,0,0,0,0,0,0,0,0,37
12,2016-06-19 13:55:12,2016-06-19 14:31:30,0,0.00,0.00,0.00,0.00,0.667,204.0,144.0,...,0,0,0,0,0,0,0,0,0,36
13,2016-06-19 14:22:18,2016-06-19 14:25:49,0,2.39,0.00,0.00,-2.39,0.143,204.0,144.0,...,0,0,0,0,0,0,0,0,0,4
14,2016-06-19 17:52:38,2016-06-19 18:16:36,0,0.00,0.00,-70.00,70.00,0.087,204.0,144.0,...,0,0,0,0,0,0,0,0,0,24
15,2016-06-19 18:11:34,2016-06-19 19:00:31,0,0.00,0.00,0.00,0.00,0.667,204.0,144.0,...,0,0,0,0,0,0,0,0,0,49
16,2016-06-19 19:33:17,2016-06-19 20:55:06,0,0.00,0.05,-40.00,39.95,0.667,204.0,144.0,...,0,0,0,0,0,0,0,0,0,82
17,2016-06-19 23:07:41,2016-06-19 23:07:57,0,0.00,0.00,0.00,0.00,14.932,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
18,2016-06-19 15:36:53,2016-06-19 15:39:46,0,0.00,0.00,0.00,0.00,3.411,204.0,144.0,...,0,0,0,0,0,0,0,0,0,3
19,2016-06-19 13:07:42,2016-06-19 16:05:07,0,0.00,0.00,0.00,0.00,0.667,204.0,144.0,...,0,0,0,0,0,0,0,0,0,177
20,2016-06-19 14:56:14,2016-06-19 14:56:22,0,0.00,0.00,0.00,0.00,0.667,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
21,2016-06-19 17:36:27,2016-06-19 17:36:53,0,2.99,0.00,0.00,-2.99,1.269,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
22,2016-06-19 13:06:54,2016-06-19 14:12:27,0,3.99,0.00,0.00,-3.99,1.389,204.0,144.0,...,0,0,0,0,0,0,0,0,0,66
23,2016-06-19 16:05:23,2016-06-19 16:24:44,0,4.58,0.00,0.00,-4.58,0.289,204.0,144.0,...,0,0,0,0,0,0,0,0,0,19
24,2016-06-19 16:51:34,2016-06-19 16:51:37,0,4.99,0.00,0.00,-4.99,1.205,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
25,2016-06-19 17:47:36,2016-06-19 17:47:58,0,4.99,0.00,0.00,-4.99,1.205,204.0,144.0,...,0,0,0,0,0,0,0,0,0,0
26,2016-06-19 12:49:11,2016-06-19 13:11:01,0,4.68,0.00,0.00,-4.68,0.288,204.0,144.0,...,0,0,0,0,0,0,0,0,0,22
27,2016-06-19 17:44:18,2016-06-19 18:19:00,0,4.99,0.00,0.00,-4.99,1.205,204.0,144.0,...,0,0,0,0,0,0,0,0,0,35
28,2016-06-19 17:42:45,2016-06-19 19:03:08,0,3.99,0.00,0.00,-3.99,0.826,204.0,144.0,...,0,0,0,0,0,0,0,0,0,80
29,2016-06-19 17:58:27,2016-06-19 19:21:44,0,5.28,0.00,-13.28,8.00,1.245,204.0,144.0,...,0,0,0,0,0,0,0,0,0,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5151590,2017-06-18 15:57:16,2017-06-18 17:19:28,5,134.15,0.00,-41.85,-92.30,20.311,0.0,0.0,...,0,0,0,0,0,0,0,0,0,82
5151591,2017-06-18 18:32:47,2017-06-18 20:22:30,6,146.60,0.00,-60.00,-86.60,25.222,0.0,0.0,...,0,0,0,0,0,0,0,0,0,110
5151592,2017-06-19 15:16:21,2017-06-19 21:37:46,0,0.00,0.00,0.00,0.00,22.339,0.0,0.0,...,0,0,0,0,0,0,0,0,0,381
5151593,2017-06-19 19:45:13,2017-06-19 20:11:05,0,17.30,0.00,0.00,-17.30,2.440,0.0,0.0,...,0,0,0,0,0,0,0,0,0,26
5151594,2017-06-19 15:21:05,2017-06-19 16:00:44,1,15.25,0.00,0.00,-15.25,2.200,0.0,0.0,...,0,0,0,0,0,0,0,0,0,40
5151595,2017-06-19 21:51:47,2017-06-19 22:32:38,1,15.60,2.00,0.00,-17.60,2.273,0.0,0.0,...,0,0,0,0,0,0,0,0,0,41
5151596,2017-06-19 20:20:06,2017-06-19 20:51:27,1,33.30,0.00,0.00,-33.30,4.464,0.0,0.0,...,0,0,0,0,0,0,0,0,0,31
5151597,2017-06-19 13:24:29,2017-06-19 14:49:07,2,26.80,0.00,0.00,-26.80,3.858,0.0,0.0,...,0,0,0,0,0,0,0,0,0,85
5151598,2017-06-19 18:47:11,2017-06-19 19:36:46,2,28.80,0.00,-11.20,-17.60,4.339,0.0,0.0,...,0,0,0,0,0,0,0,0,0,50
5151599,2017-06-19 19:39:33,2017-06-19 20:20:28,2,29.00,0.00,0.00,-29.00,3.067,0.0,0.0,...,0,0,0,0,0,0,0,0,0,41
5151600,2017-06-19 19:41:06,2017-06-19 20:52:58,2,39.00,0.00,0.00,-39.00,4.387,0.0,0.0,...,0,0,0,0,0,0,0,0,0,72
5151601,2017-06-19 19:07:42,2017-06-19 20:38:22,2,40.10,0.00,0.00,-40.10,5.396,0.0,0.0,...,0,0,0,0,0,0,0,0,0,91
5151602,2017-06-19 21:36:20,2017-06-19 22:35:56,2,40.20,3.00,0.00,-43.20,5.646,0.0,0.0,...,0,0,0,0,0,0,0,0,0,60
5151603,2017-06-19 19:29:11,2017-06-19 20:41:23,2,42.80,0.00,0.00,-42.80,5.608,0.0,0.0,...,0,0,0,0,0,0,0,0,0,72
5151604,2017-06-19 21:59:41,2017-06-19 22:34:52,3,30.60,0.00,0.00,-30.60,3.173,0.0,0.0,...,0,0,0,0,0,0,0,0,0,35
5151605,2017-06-19 12:41:31,2017-06-19 13:48:54,3,42.70,0.00,0.00,-42.70,5.448,0.0,0.0,...,0,0,0,0,0,0,0,0,0,67
5151606,2017-06-19 18:30:48,2017-06-19 19:47:27,2,46.30,0.00,-11.58,-34.72,8.957,0.0,0.0,...,0,0,0,0,0,0,0,0,0,77
5151607,2017-06-19 17:57:51,2017-06-19 19:24:12,2,48.60,0.00,-18.40,-30.20,5.616,0.0,0.0,...,0,0,0,0,0,0,0,0,0,86
5151608,2017-06-19 18:17:02,2017-06-19 19:39:01,2,58.70,5.00,-11.05,-52.65,9.375,0.0,0.0,...,0,0,0,0,0,0,0,0,0,82
5151609,2017-06-19 18:03:02,2017-06-19 19:12:21,3,47.90,0.00,0.00,-47.90,5.477,0.0,0.0,...,0,0,0,0,0,0,0,0,0,69
5151610,2017-06-19 19:44:14,2017-06-19 20:52:02,3,50.20,0.00,0.00,-50.20,5.105,0.0,0.0,...,0,0,0,0,0,0,0,0,0,68
5151611,2017-06-19 16:08:45,2017-06-19 17:26:41,3,53.79,0.00,0.00,-53.79,6.625,0.0,0.0,...,0,0,0,0,0,0,0,0,0,78
5151612,2017-06-19 20:51:47,2017-06-19 22:17:46,3,59.30,0.00,0.00,-59.30,7.098,0.0,0.0,...,0,0,0,0,0,0,0,0,0,86
5151613,2017-06-19 19:33:20,2017-06-19 20:48:17,3,62.29,0.00,-15.57,-46.72,9.125,0.0,0.0,...,0,0,0,0,0,0,0,0,0,75
5151614,2017-06-19 18:50:06,2017-06-19 19:58:16,3,68.09,0.00,-9.80,-58.29,8.737,0.0,0.0,...,0,0,0,0,0,0,0,0,0,68
5151615,2017-06-19 19:00:56,2017-06-19 20:01:53,3,68.90,2.00,0.00,-70.90,11.496,0.0,0.0,...,0,0,0,0,0,0,0,0,0,61
5151616,2017-06-19 17:57:41,2017-06-19 19:08:29,4,78.50,0.00,-60.00,-18.50,10.845,0.0,0.0,...,0,0,0,0,0,0,0,0,0,71
5151617,2017-06-19 13:52:59,2017-06-19 16:06:33,4,79.90,0.00,-18.72,-61.18,10.762,0.0,0.0,...,0,0,0,0,0,0,0,0,0,134
5151618,2017-06-19 19:45:50,2017-06-19 21:41:37,4,85.07,0.00,-25.90,-59.17,12.166,0.0,0.0,...,0,0,0,0,0,0,0,0,0,116
5151619,2017-06-19 19:00:49,2017-06-19 20:27:09,4,90.50,0.00,0.00,-90.50,16.010,0.0,0.0,...,0,0,0,0,0,0,0,0,0,86

Remove the two previous attributes now.

In [34]:
processed_merged_new_df.drop(['check_datetimestart', 'check_datetimestop'], axis=1, inplace=True)

In [35]:
processed_merged_new_df.columns

Index(['total_covers', 'total_gross_sales', 'total_tip', 'total_discount',
       'total_cost', 'total_stock_cost', 'total_seats', 'total_inside_seats',
       'ground_seats', '1st_floor_seats', 'bar_seats', 'outside_seats',
       'county_Berkshire', 'county_Buckinghamshire', 'county_Cambridgeshire',
       'county_Cheshire', 'county_Cornwall', 'county_Devon', 'county_Dorset',
       'county_East Sussex', 'county_Essex', 'county_Gloucestershire',
       'county_Hampshire', 'county_Hertfordshire', 'county_Kent',
       'county_Leicestershire', 'county_Lincolnshire', 'county_London',
       'county_Manchester', 'county_Merseyside', 'county_Middlesex',
       'county_Norfolk', 'county_Northamptonshire', 'county_NottinghamShire',
       'county_Nottinghamshire', 'county_Oxfordshire', 'county_Scotland',
       'county_Shropshire', 'county_Somerset', 'county_Somerset ',
       'county_Suffolk', 'county_Surrey', 'county_Sussex', 'county_Wales',
       'county_Warwickshire', 'county_West Sussex', 'county_Wiltshire',
       'county_Worcestershire', 'county_Yorkshire', 'rating_A', 'rating_B',
       'rating_C', 'rating_D', 'rating_E', 'rating_F',
       'private_dining_covers_0', 'private_dining_covers_10',
       'private_dining_covers_12', 'private_dining_covers_135',
       'private_dining_covers_14', 'private_dining_covers_15',
       'private_dining_covers_15 - 30', 'private_dining_covers_15 - 50',
       'private_dining_covers_20', 'private_dining_covers_20 - 30',
       'private_dining_covers_20-40', 'private_dining_covers_24',
       'private_dining_covers_24 & 24', 'private_dining_covers_25',
       'private_dining_covers_25 - 50', 'private_dining_covers_28',
       'private_dining_covers_30', 'private_dining_covers_40',
       'private_dining_covers_50', 'private_dining_covers_50-70',
       'private_dining_covers_60', 'private_dining_covers_8',
       'check_time_difference_in_seconds'],
      dtype='object')

In [36]:
processed_merged_new_df.isnull().any().any()

False

Now there are no 'NaN' values in the dataset, and save the dataset for now.

In [37]:
processed_merged_new_df.head()

,total_covers,total_gross_sales,total_tip,total_discount,total_cost,total_stock_cost,total_seats,total_inside_seats,ground_seats,1st_floor_seats,...,private_dining_covers_25,private_dining_covers_25 - 50,private_dining_covers_28,private_dining_covers_30,private_dining_covers_40,private_dining_covers_50,private_dining_covers_50-70,private_dining_covers_60,private_dining_covers_8,check_time_difference_in_seconds
0,0,18.92,0.0,-90.0,57.41,1.149,204.0,144.0,128.0,0.0,...,0,0,0,0,0,0,0,0,0,122
1,0,-15.87,0.0,0.0,15.87,-1.916,204.0,144.0,128.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,0,0.00,0.0,0.0,0.00,1.520,204.0,144.0,128.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0,3.69,0.0,0.0,-3.69,0.214,204.0,144.0,128.0,0.0,...,0,0,0,0,0,0,0,0,0,12
4,0,4.99,0.0,0.0,-4.99,1.722,204.0,144.0,128.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
processed_merged_new_df.to_csv('merged_dataset.csv')